
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


th.e-headercell.bg-red {
  background-color: red;
}

th.e-headercell.bg-blue {
  background-color: #8e8ec7;
}

th.e-headercell.bg-white {
  background-color: white;
}

th.e-headercell.cl-white {
  color: white;
}
th.e-headercell.cl-black {
  color: black;
}

//

td.e-rowcell.bg-red {
  background-color: red;
}
td.e-rowcell.bg-blue {
  background-color: #8e8ec7;
}
td.e-rowcell.bg-white {
  background-color: white;
}

td.e-rowcell.cl-white {
  color: white;
}

td.e-rowcell.cl-black {
  color: black;
}
