<h2 class="title" > Project Tasks List</h2>
<button  (click)='addTask()'>Add</button>
<div style="padding-top: 7px; float:left">Hierarchy Mode</div><div style="padding-left: 10px; display: inline-block"><ejs-dropdownlist (change)='onChange($event)' [dataSource]='dropData' value='Parent' [fields]='fields'></ejs-dropdownlist></div>
<div class="control-section">

    <ejs-treegrid #treegrid [dataSource]='data' [enableHover]='false' childMapping='subtasks' [treeColumnIndex]='1' id="treegridcomp" [pageSettings]='pageSettings' allowExcelExport='true' allowPdfExport='true' allowSorting='true' [allowSelection]='true' [selectionSettings]='selectionOptions'
    [contextMenuItems]="contextMenuItems" [editSettings]='editing' [toolbar]="toolbar" (contextMenuClick)='contextMenuClick($event)'>
        <e-columns>
            <e-column type='checkbox' width='50'></e-column>
            <e-column field='id' headerText='ID' isPrimaryKey='true' width='140' [edit]='editparams' textAlign='Right' editType='numericedit'></e-column>
            <e-column field='taskName' headerText='Task Name' width='110'></e-column>
            <e-column field='resourceCount' headerText='Resource Count' width='90'></e-column>
            <e-column field='team' headerText='Team' width='70'></e-column>
            <e-column field='duration' headerText='Duration' width='85'  [edit]='editparams' textAlign='Right' editType='numericedit'></e-column>
            <e-column field='progress' headerText='Progress' width='90' textAlign='Right'  [edit]='editparams' editType='numericedit'></e-column>
            <e-column field='priority' headerText='Priority' width='80' textAlign='Right'   editType='stringedit'></e-column>
            <e-column field='approved' headerText='Approved' width='80' textAlign='Right'   editType='stringedit'></e-column>
        </e-columns>

    </ejs-treegrid>
</div>